<h4 class="pb-2">{{ 'Detalles del belén'|t }}</h4>
{% if ano_belen %}
  <div class="mb-3">
    <i class="bi bi-calendar-date"></i>&nbsp;&nbsp;{{ ano_belen }}
  </div>
{% endif %}
{% if localizacion_belen %}
  <div class="mb-3">
    <i class="bi bi-geo-alt-fill"></i>&nbsp;&nbsp; {{ localizacion_belen }}
  </div>
{% endif %}
{% if tamano_belen %}
  <div class="mb-3">
    <i class="bi bi-rulers"></i>&nbsp;&nbsp; {{ tamano_belen }}
  </div>
{% endif %}
{% if tipo_belen %}
  <div class="mb-3">
    <i class="bi bi-aspect-ratio"></i>&nbsp;&nbsp; {{ tipo_belen }}
  </div>
{% endif %}
{% if escena %}
  <div class="mb-3">
    <i class="bi bi-star"></i>&nbsp;&nbsp; {{ escena }}
  </div>
{% endif %}
{% if artesanos_figuras %}
  <div class="mb-3">
    <i class="bi bi-people"></i> &nbsp;&nbsp;{{ artesanos_figuras }}
  </div>
{% endif %}
{% if tamano_figuras_belen %}
  <div class="mb-3">
    <i class="bi bi-arrows-expand"></i>&nbsp;&nbsp; {{ tamano_figuras_belen }}
  </div>
{% endif %}
{% if galeria %}
  <div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">
      {% for foto in galeria %}
        <div class="mySlides">
          <img src="{{ foto.imagen|e }}" style="width:100%">
        </div>
      {% endfor %}
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <div class="caption-container">
        <p id="caption"></p>
      </div>
    </div>
  </div>

  <div class="pt-2">
    <a href="javascript:openModal();currentSlide(1)" class="btn btn-primary">{{ 'Ver Galería'|t }} <i class="bi bi-arrow-right"></i></a>
  </div>

  <script>
    function openModal() {
      document.getElementById("myModal").style.display = "block";
    }

    function closeModal() {
      document.getElementById("myModal").style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      slides[slideIndex-1].style.display = "block";
    }
  </script>  
{% endif %}