<h4 class="pb-2">{{ 'Detalles del belén'|t }}</h4>
{% if ano_belen %}
  <div class="mb-3">
    <i class="bi bi-calendar-date"></i> {{ ano_belen }}
  </div>
{% endif %}
{% if localizacion_belen %}
  <div class="mb-3">
    <i class="bi bi-geo-alt-fill"></i> {{ localizacion_belen }}
  </div>
{% endif %}
{% if tamano_belen %}
  <div class="mb-3">
    <b>Tamaño:</b> {{ tamano_belen }}
  </div>
{% endif %}
{% if tipo_belen %}
  <div class="mb-3">
    <b>Tipo:</b> {{ tipo_belen }}
  </div>
{% endif %}
{% if escena %}
  <div class="mb-3">
    <b>Escena:</b> {{ escena }}
  </div>
{% endif %}
{% if artesanos_figuras %}
  <div class="mb-3">
    <b>Artesanos de las figuras:</b> {{ artesanos_figuras }}
  </div>
{% endif %}
{% if tamano_figuras_belen %}
  <div class="mb-3">
    <b>Tamaños de las figuras:</b> {{ tamano_figuras_belen }}
  </div>
{% endif %}
{% if link %}
  <div class="pt-2">
    <a href="{{ link }}" class="btn btn-primary">{{ 'Detalles del belén'|t }} <i class="bi bi-arrow-right"></i></a>
  </div>
{% endif %}
